.hero {
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.image {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    transition: transform 0.6s ease-in-out;
}


.content {
    position: absolute;
    top: 50%;
    left: 64px;
    transform: translateY(-50%);
    z-index: 2;
    max-width: 696px;
}

.title {
    font-size: 48px;
    font-weight: var(--fw-semibold);
    margin-bottom: 16px;
    line-height: 1.33;
    color: var(--inputs);
}

.subtitle {
    font-size: 24px;
    font-weight: var(--fw-semibold);
    margin-bottom: 40px;
    line-height: 1.33;
    color: var(--inputs);
}

.button {
    display: inline-block;
    font-size: 16px;
    background-color: var(--button);
    color: white;
    font-weight: var(--fw-medium);
    padding: 16px 48px;
    border-radius: 200px;
    text-decoration: none;
    transition: background-color 0.3s;
    line-height: 1.5;
}

.button:hover {
    background-color: var(--button-hover);
}

