.hero {
  position: relative;
  width: 100%;
  height: calc(100dvh - 73px);
  overflow: hidden;
}

.bgImage {
  object-fit: cover;
  object-position: center;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 260px;
  z-index: 1;
}

.title {
  font-size: 48px;
  font-weight: var(--fw-semibold);
  line-height: 1.33;
  color: var(--inputs);
}

.subtitle {
  font-size: 24px;
  font-weight: var(--fw-semibold);
  margin-bottom: 40px;
  line-height: 1.33;
  color: var(--inputs);
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  font-size: 16px;
  background: var(--button);
  color: #fff;
  font-weight: var(--fw-medium);
  padding: 16px 48px;
  border-radius: 200px;
  text-decoration: none;
  transition: background 0.3s;
  line-height: 1.5;
  width: 173px;
  height: 56px;
}

.button:hover {
  background: var(--button-hover);
}
